# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CD_Manual

on: [workflow_dispatch]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  docs:
    name: Test API documentation build
    runs-on: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set up Python 3.10.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.10.11"
          
      - name: Check Python Version
        run: python --version

      - name: Install dependencies
        run: |
          python -m pip install ".[docs]"
     
      - name: Build API documentation
        run: |
          make -C docs clean
          make -C docs html
      
      - name: Archive documentation as artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-docs
          path: docs/build/html

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: docs
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
